/* Variables */
:root {
  --gradient-1: #f600ff;
  --gradient-2: #008cff;
  --woot: rgba(144, 173, 47, 0.7);
  --grab: rgba(170, 116, 255, 0.7);
  --meh: rgba(196, 46, 59, 0.7);
  --main-black: #202020;
  --transparent-back: rgba(0, 0, 0, 0.65);
}

/* Aplikace */
.room-background {
  width: 1600px !important;
  height: 900px !important;
}

/* Developer rank */
#user-rollover.id-5383370 .username, #chat [data-cid^="5383370"] span.un.clickable,
#user-rollover.id-4664447 .username, #chat [data-cid^="4664447"] span.un.clickable {
  animation: developer 10s ease infinite;
}

@keyframes developer {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
}
/*
/* Contributor rank
#user-rollover.id-28551097 .username, #chat [data-cid^="28551097"] span.un.clickable,
#user-rollover.id-13564591 .username, #chat [data-cid^="13564591"] span.un.clickable {
  animation: contributor 5s ease infinite;
}
@keyframes contributor {
  0% {color: #f600ff;}
  50% {color: #008cff;}
  100% {color: #f600ff;}
}*/

/* New Contributor rank */
#user-rollover.id-28551097 .username, #chat [data-cid^="28551097"] span.un.clickable,
#user-rollover.id-13564591 .username, #chat [data-cid^="13564591"] span.un.clickable {
background: linear-gradient(124deg, #f600ff, #008cff, #f600ff);
background-size: 1800% 1800%;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color:transparent;
  animation: contributor 7s ease infinite;}

@keyframes contributor { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
/* End New Controbutor Rank */

/* Footer */
#footer {
	background: var(--transparent-back);
}

#footer-user .buttons .button {
  box-shadow: inset 0px 0 0 0 #0a0a0a !important;
}

#playlist-button {
    background: linear-gradient(to bottom, var(--gradient-1) 0%,var(--gradient-2) 100%);
}

.app-header {
	background: var(--transparent-back);
}

#rs-skip-button {
    background: transparent !important;
}

#history-button {
    background: transparent;
}

.header-panel-button.selected {
	background: linear-gradient(to bottom,transparent 0,rgba(61, 61, 61, 0.35) 100%);
}

.chevron::before, .chevron:after {
  display: none;
}

#app-menu {
  background: linear-gradient(135deg, var(--gradient-1) 0%,var(--gradient-2) 100%) !important;
}

#app-menu .list {
  background-color: #121212;
}

#app-menu .list .item {
  box-shadow: inset 0 0 0 0 #323742;
}

.rcsunload, .logout {
  background: linear-gradient(135deg, var(--gradient-1) 0%,var(--gradient-2) 100%) !important;
  border: 1px solid #121212;
}

.rcsunload div i {
  display: none;
}

.rcsunload div span {
  color: #fff !important;
}

.logout div i {
  display: none;
}

.logout div span {
  color: #fff !important;
}

.bar-divider {
  background: transparent;
}

#room .app-right {
  background: var(--transparent-back);
}

#rcs-progress-container .bar {
    background: linear-gradient(135deg, var(--gradient-1) 0%,var(--gradient-2) 100%);
}

#rcs-progress-container {
    height: 100%;
}

#now-playing-dj .dark-label {
  color: #fff;
}

/* Upravení tlačítek */
/* DJ Button */
#dj-button {
  background-color: var(--transparent-back);
  border-radius: 5px;
}

#dj-button .left {
  border-radius: 5px 0 0 5px;
  opacity: 1.0 !important;
}

/* DJ Button end */
#woot {
  border-radius: 5px 0 0 5px;
}

#meh {
  border-radius: 0 5px 5px 0;
}

#mem .bottom, #meh.crowd-response.disabled.active .bottom {
  border-radius: 0 0 5px 0 !important;
}

#woot .bottom, #woot.crowd-response.disabled.active .bottom {
  border-radius: 0 0 0 5px !important;
}

#vote .crowd-response {
  background-color: var(--transparent-back);
}

#vote .crowd-response.disabled .bottom {
  background: rgba(0,0,0,0);
}

#vote .crowd-response.selected {
  box-shadow: inset 0 0 0 rgba(0,0,0,0.0)
}

#woot .bottom, #grab .bottom, #meh .bottom {
  background: rgba(0,0,0,0);
}

#woot .bottom {
  background: transparent !important;
}

#grab .bottom {
  background: transparent !important;
}

#meh .bottom {
  background: transparent !important;
}

#woot.selected {
  background: var(--woot) !important;
}

#grab.selected {
  background: var(--grab) !important;
}

#meh.selected {
  background: var(--meh) !important;
}

#vote .crowd-response {
  margin-right: 0px;
}

.votes-rs {
  width: 252px;
  background: var(--transparent-back) !important;
}

.title.woot {
  background: var(--woot) !important;
}

.title.grab {
  background: var(--grab) !important;
}

.title.meh {
  background: var(--meh) !important;
}

/* User roller */

#user-rollover .meta.online {
  background-color: rgba(0,0,0,0.45) !important;
}

#user-rollover .info {
  background: linear-gradient(rgba(0,255,235,0.45), rgba(0,117,200,0.45));
}

#user-rollover {
  background-color: rgba(0,0,0,0.6) !important;
}

#user-rollover .arrow-down {
  display: none;
}

#user-rollover .info .level .label {
  color: #fff !important;
}

.badge-box {
  background: rgba(0,0,0,0);
}

/* Chat */

#chat-messages, #chat-header {
  border-bottom: 0px;
}
#chat .emote .text {
    font-style: normal;
    font-weight: bold;
    color: rgb(172, 118, 255);
}
#chat .emote {
    background-color: rgba(76, 93, 119, 0.22);
    border-left: 3px solid rgb(174, 69, 189) !important;
}
#chat .message:nth-child(2n+1), #chat .mention:nth-child(2n+1), #chat .skip:nth-child(2n+1), #chat .moderation:nth-child(2n+1), #chat .emote:nth-child(2n+1), #chat .update:nth-child(2n+1), #chat .welcome:nth-child(2n+1) {
    background-color: rgba(17, 19, 23, 0.32);
    animation: fadein 0.25s;
}
/* Player */
#no-dj .avatar {
  position: absolute !important;
  top: 25px !important;
  left: 185px !important;
  width: 125px !important;
  height: 125px !important;
  background: url('https://craftmaniacz.github.io/PlugStyle-v2/images/logo.png') no-repeat !important;
  background-size: contain !important;
}
/* Playlist Menu | Finally */
#playlist-panel {
	background: rgba(0, 0, 0, 0.9) !important;
}
#playlist-menu {
	background: none;
}
#playlist-menu .menu .row .count {
	color: #FFFFFF !important;
}
#search {
	background: none !important;
}
#search-bar {
	background: none !important;
}
#playlist-import {
	background: none;
}
#playlist-create {
	background: none;
}
#playlist-edit-button {
	background: none;
}
#playlist-shuffle-button {
	background: none;
}
#playlist-delete-button {
	background: none;
}
/* Radiant Emotes */
.radiantemote {
    max-width: 28px !important;
    max-height: 28px !important;
}
